@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:wght@100..900&display=swap');

html {
    font-size: 62.5%;
}

input {
    width: 33.5rem;
    height: 4.5rem;
    border-radius: 5rem;
    background-color: #ffffff;
    color: #000000;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.219rem;
    letter-spacing: 0.05rem;
    padding: 1.15rem 1.65rem;
}

label {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.829rem;
    letter-spacing: 0.3rem;
    width: 100%;
    padding: 0 1.65rem;
    color: #000000;
}

::-webkit-input-placeholder {
    color: #c6c6c6;
}