@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62,5%;
}

.button {
    width: 20rem;
    height: 4rem;
    border-radius: 2rem;
    padding: 1rem 0.5rem 1rem 0.5rem;
    gap: 1rem;
    color: #ffffff;
    background-color: #64746d;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.4rem;
}

.button.active,
.button:hover {
    background-color: #001726;
    color: #ffffff;
    cursor: pointer;
    transition: .1s;
}